<!DOCTYPE html>
<html>
<head>
		<%- include('dependencies.ejs'); %>	
		<title>Dashboard</title>
	</head>
	<body>
		<%- include('header_dashboard.ejs', {google: google}) %> 
		<h3 style="padding-left: 10px;"> You have 0 new messeges</h3>
	</body>
</html>